*{
    padding: 0;
    margin: 0;
    
}


body {
    width: 100%;
    height: 100%;
    font-family: "arial unicode ms";
    background-color: #FFFFE0;
}


button {
    outline: none;
    border: none;
}

.head {
    color: #FF3333;
    font-size: 40px;
    width: 600px;
    font-family: "Nikukyu";
    border: 9px solid #FF3333;
    text-align: center;
    border-radius: 90px;
    padding: 30px;
    margin: 50px auto;
    background:rgba(255,255,255,0.9);
}
header {
    background-image: url(img/IMG_3691-min.png);
    background-size: cover;
    height: 300px;
    padding-top: 1px;

}

.navi li{
    display: inline-block;
}
.navi a{
    text-decoration: none;
    font-family: "Nikukyu";
    font-size: 20px;
    color: #FFFEFD;
    list-style: none;
    display: inline-block;
    height: 30px;
    margin: 5px 20px;
}
.navi ul{
    text-align: center;
}
nav {
    background-color: #FF3333;
}

.wrapper {
    width: 80%;
    display: flex;
    margin: 20px auto;
    justify-content: center;
}
.main, .side {
    padding: 5px;
}
.main {
    width: 60%;
}
.side {
    margin-top: 50px;
    width: auto;
}




.title {
    font-size: 40px;
    border-left-style: solid;
    border-left-width: 10px;
    border-radius: 8px;
    padding-left: 15px;
    margin-bottom: 10px;
    font-family: "Nikukyu";
}

.prof{
    background-color: #FFFFE0;
    color: #FF3333;
    overflow: hidden;
    margin-bottom: 40px;
}
.prof p {
    font-size: 25px;
    background-color: #FFFEFD;
    padding: 20px;
    border-radius: 30px;
    height: 300px;
    color: #333333;
    font-family: 'Kosugi Maru', sans-serif;
    line-height: 150%;
}
.prof img {
    float: right;
}

span{
    font-size: 35px;
    line-height: 200%;  
}


.hobby {
    background-color: #FFFFE0;
    color: #FF3333;

}

.hobby ul {
    font-size: 25px;
    background-color: #FFFEFD;
    padding: 20px;
    border-radius: 30px;
    height: 300px;
    color: #333333;
    padding-left: 50px;
    font-family: 'Kosugi Maru', sans-serif;
    line-height: 150%;
    
    overflow: hidden;
}

.youtube{
    font-size: 25px;
    background-color: #FFFEFD;
    padding: 20px;
    border-radius: 30px;
    color: #333333;
    font-family: 'Kosugi Maru', sans-serif;
    line-height: 150%;
}
.youtube p{
    font-size: 20px;
}

footer{
    background: #FF3333;
}
footer p{
    color: #FFFEFD;
    font-family: 'Kosugi Maru', sans-serif;
    text-align: center;
    padding: 5px;
}

.totop {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #FF3333;
    text-align: center;
    line-height: 65px;
    font-size: 25px;
    position: fixed;
    right: 20px;
    bottom:50px;
}
.totop a{
    color: #FFFEFD;
    text-decoration: none;
}

.totop a:hover{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #FFFFE0;
    text-align: center;
    line-height: 65px;
    font-size: 25px;
    position: fixed;
    right: 20px;
    bottom:50px;
    color: #FF3333;
    border: 2px solid #FF3333;
}






